/*
    Author: Eric Mendoza (ericmendoza@email.arizona.edu)
    Author: Luke Ramirez (lucasxavier@email.arizona.edu)
    File: main.css
    Assignment: Final Project
    Course: CSc 337; Fall 21
    Purpose: Handles the styling for index.html and lobby.html
*/

body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
}

h1 {
    color: blue;
    font-size: 60px;
}

h2 {
    color: rgb(0, 255, 0);
}

p {
    color: yellow;
    display: inline;
}

input {
    margin-bottom: 30px;
    color: red;
}